* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: transparent;/*lightgray;*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;
}

.box {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border-radius: 0.5em;
  width: 30vw;
  height: auto;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: cadetblue;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}

.footer{
  background-color: white;
  width: 35%;
  height: 30%;
  margin: auto;
  border-radius: 30px 30px 30px 30px;
  padding: 8px;
  text-align: center;
  }

  
  
  /* 
  Lo que se muestra abajo es para poder generar animaciones de fondo
  Fuente de las animaciones: https://www.sliderrevolution.com/resources/css-animated-background/ */

  body, head {
    z-index: -1;
    display: block;
    font-size: 18px;
  }
  
  head::before, head::after,
  body::before, body::after {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: ".";
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
  }
  
  body::before {
    text-shadow: 2.3801106871em 0.5124680336em 7px rgba(33, 0, 255, 0.9), 1.9128752364em 1.0426821686em 7px rgba(255, 0, 112, 0.9), 1.719991384em 2.1767364873em 7px rgba(230, 0, 255, 0.9), 1.8320151395em 2.2994562292em 7px rgba(255, 115, 0, 0.9), 1.3530832727em 0.2119422056em 7px rgba(255, 6, 0, 0.9), -0.0774622794em 1.187703028em 7px rgba(255, 0, 235, 0.9), 1.0170147853em 0.6341607176em 7px rgba(168, 0, 255, 0.9), 0.7158542002em 0.5517545836em 7px rgba(129, 255, 0, 0.9), 0.8200102169em 1.7507007929em 7px rgba(255, 87, 0, 0.9), -0.4156885907em 0.6816065646em 7px rgba(191, 255, 0, 0.9), 0.3659283265em 1.4012859593em 7px rgba(9, 0, 255, 0.9), 0.1242169971em 0.5584771976em 7px rgba(56, 0, 255, 0.9), 2.2055363774em 0.1167665959em 7px rgba(255, 0, 237, 0.9), -0.3117926164em 0.9612345466em 7px rgba(0, 255, 145, 0.9), -0.3679118979em 1.9162921881em 7px rgba(6, 255, 0, 0.9), 2.4625143055em 0.2991037099em 7px rgba(0, 255, 122, 0.9), 0.6674079799em 2.331805462em 7px rgba(0, 38, 255, 0.9), -0.1325247437em 2.1053853258em 7px rgba(255, 222, 0, 0.9), 2.1823986019em 1.1367988433em 7px rgba(0, 255, 179, 0.9), 0.8725344734em -0.4762399136em 7px rgba(255, 0, 165, 0.9), 0.8554137653em 0.2358081318em 7px rgba(0, 62, 255, 0.9), 0.4450476668em 1.1186221166em 7px rgba(219, 255, 0, 0.9), 2.1505826757em 1.6347252344em 7px rgba(195, 255, 0, 0.9), 1.9211025108em 2.3380468003em 7px rgba(88, 0, 255, 0.9), -0.1456385849em 1.3464406358em 7px rgba(255, 226, 0, 0.9), 1.340653114em -0.3531237706em 7px rgba(0, 83, 255, 0.9), 2.4187188428em 1.5780424464em 7px rgba(105, 255, 0, 0.9), 1.5617348069em 1.8391309394em 7px rgba(255, 162, 0, 0.9), 0.0281752146em 1.1564356321em 7px rgba(0, 249, 255, 0.9), 1.0869735039em 0.056253729em 7px rgba(255, 0, 184, 0.9), 0.1978839494em 1.9407823238em 7px rgba(25, 255, 0, 0.9), 2.1787462466em 0.0021651827em 7px rgba(0, 255, 155, 0.9), -0.112593033em 2.37815001em 7px rgba(0, 113, 255, 0.9), 1.0247191939em 2.4479146947em 7px rgba(0, 255, 67, 0.9), 0.7530171675em 1.9775099211em 7px rgba(0, 255, 126, 0.9), -0.1875653076em 2.3819683266em 7px rgba(255, 17, 0, 0.9), -0.2124482621em 0.4948729184em 7px rgba(255, 74, 0, 0.9), -0.2756881849em 0.5287324011em 7px rgba(228, 255, 0, 0.9), 1.8236601633em 0.4658204546em 7px rgba(0, 255, 143, 0.9), 0.4550757757em -0.2946854192em 7px rgba(255, 132, 0, 0.9), 0.2497343614em 0.2829666443em 7px rgba(0, 255, 232, 0.9);
    animation-duration: 44s;
    animation-delay: -27s;
  }
  
  body::after {
    text-shadow: -0.4799375779em 2.1365969704em 7px rgba(0, 133, 255, 0.9), 0.7450485658em 2.0519184426em 7px rgba(255, 0, 118, 0.9), 2.4331038515em 1.5005533948em 7px rgba(255, 251, 0, 0.9), 1.4360074342em 2.4869442389em 7px rgba(255, 0, 74, 0.9), 0.9826881119em -0.4173641659em 7px rgba(0, 174, 255, 0.9), 1.6998820991em -0.220537019em 7px rgba(230, 0, 255, 0.9), 1.97506705em -0.1537135399em 7px rgba(0, 255, 170, 0.9), -0.2527720426em -0.2636696907em 7px rgba(0, 245, 255, 0.9), 2.3131642568em 0.3815220221em 7px rgba(177, 0, 255, 0.9), -0.2473618073em 0.1317528156em 7px rgba(133, 0, 255, 0.9), 0.6118152159em 1.677102979em 7px rgba(65, 255, 0, 0.9), 1.6634108888em 0.1385469796em 7px rgba(255, 46, 0, 0.9), 1.3121192462em -0.0917285387em 7px rgba(13, 0, 255, 0.9), 1.2255745341em 0.6360601322em 7px rgba(0, 255, 187, 0.9), 2.2156643697em 0.2231526431em 7px rgba(12, 0, 255, 0.9), -0.0316309759em -0.0894097121em 7px rgba(117, 0, 255, 0.9), 2.1950301426em -0.0503754049em 7px rgba(0, 255, 219, 0.9), 1.1367521865em 0.2710985069em 7px rgba(0, 255, 181, 0.9), 0.3529376312em 2.0586528346em 7px rgba(0, 165, 255, 0.9), 2.066518744em 1.5039252029em 7px rgba(255, 0, 161, 0.9), 2.3877490951em 1.9418150529em 7px rgba(0, 89, 255, 0.9), -0.4716138998em -0.3369736984em 7px rgba(0, 255, 244, 0.9), 1.5269077556em 2.0784340113em 7px rgba(245, 0, 255, 0.9), 2.3436669072em 0.5136327026em 7px rgba(255, 0, 203, 0.9), 0.964650615em -0.1532852359em 7px rgba(26, 255, 0, 0.9), 0.1649462438em 1.382918877em 7px rgba(0, 235, 255, 0.9), 1.2962609753em 1.277506907em 7px rgba(255, 0, 20, 0.9), 2.041921867em 0.5371345834em 7px rgba(255, 221, 0, 0.9), 2.1532320801em 1.2283855684em 7px rgba(240, 0, 255, 0.9), 0.6795057579em 1.2333955099em 7px rgba(0, 255, 242, 0.9), 1.8347431997em -0.263946408em 7px rgba(255, 200, 0, 0.9), 0.2090959686em 0.3486306671em 7px rgba(255, 0, 13, 0.9), -0.2462045102em 2.1766772439em 7px rgba(19, 0, 255, 0.9), 0.1985550329em 0.6725841572em 7px rgba(255, 0, 57, 0.9), 1.5372698005em 0.4457547819em 7px rgba(158, 255, 0, 0.9), 1.4294387607em 1.8504098676em 7px rgba(72, 0, 255, 0.9), 1.3629190618em -0.2686211226em 7px rgba(164, 0, 255, 0.9), -0.4192816644em 2.1643941901em 7px rgba(12, 0, 255, 0.9), -0.0837657131em 2.2447793704em 7px rgba(255, 0, 70, 0.9), 1.2682936908em 1.4668383972em 7px rgba(255, 90, 0, 0.9), 2.0101551399em 1.213751421em 7px rgba(255, 54, 0, 0.9);
    animation-duration: 43s;
    animation-delay: -32s;
  }
  
  head::before {
    text-shadow: 0.4656994418em 2.295641051em 7px rgba(0, 255, 194, 0.9), 0.211515542em 2.2269928332em 7px rgba(255, 0, 75, 0.9), -0.2352162414em 0.7777012116em 7px rgba(0, 36, 255, 0.9), -0.4956649105em 2.1601717285em 7px rgba(205, 255, 0, 0.9), 2.0140971038em 0.6114830011em 7px rgba(101, 255, 0, 0.9), 1.1555307843em 1.7775945824em 7px rgba(0, 207, 255, 0.9), 1.5582348994em 0.9526716447em 7px rgba(255, 195, 0, 0.9), 2.0251408388em 2.2799297946em 7px rgba(111, 255, 0, 0.9), 0.803331406em 1.0381004868em 7px rgba(1, 255, 0, 0.9), 2.4827041005em 2.006670413em 7px rgba(231, 0, 255, 0.9), 0.2796467331em 1.5656171342em 7px rgba(255, 0, 67, 0.9), 0.5703763215em 0.534488309em 7px rgba(145, 255, 0, 0.9), 0.4126831862em 1.6729944185em 7px rgba(0, 26, 255, 0.9), 1.9222288675em 1.8673822772em 7px rgba(229, 255, 0, 0.9), 1.1834607432em 0.0789796937em 7px rgba(255, 36, 0, 0.9), 0.6386497026em 0.8314494627em 7px rgba(216, 0, 255, 0.9), -0.1824995369em 0.3701503123em 7px rgba(255, 0, 228, 0.9), 0.1796237227em 1.3167086177em 7px rgba(0, 255, 125, 0.9), 2.160759236em 0.5671017723em 7px rgba(238, 255, 0, 0.9), 1.7377450884em -0.0062082797em 7px rgba(255, 95, 0, 0.9), 0.2457467686em 1.6337110489em 7px rgba(0, 125, 255, 0.9), 2.2538750598em 2.0487139163em 7px rgba(0, 91, 255, 0.9), -0.1119199788em 1.9669933581em 7px rgba(0, 94, 255, 0.9), 0.225725815em 1.2925740181em 7px rgba(255, 0, 241, 0.9), 0.6503909266em 0.2473408726em 7px rgba(174, 0, 255, 0.9), 1.1387958952em 1.134910743em 7px rgba(79, 0, 255, 0.9), 0.1751116598em 0.8886039146em 7px rgba(196, 255, 0, 0.9), 2.0762787813em 1.4924654737em 7px rgba(0, 255, 212, 0.9), 0.8610557266em 1.179099863em 7px rgba(69, 255, 0, 0.9), 0.0535467551em -0.4754565737em 7px rgba(0, 144, 255, 0.9), 2.2574655355em 0.8717149676em 7px rgba(255, 53, 0, 0.9), 1.6960438881em 1.3503155163em 7px rgba(162, 255, 0, 0.9), 0.184108716em 0.2246185208em 7px rgba(0, 189, 255, 0.9), 0.1532997508em 1.4726928764em 7px rgba(255, 0, 193, 0.9), 0.536529369em 1.7427069741em 7px rgba(255, 0, 0, 0.9), 0.2934467837em 0.0401699204em 7px rgba(255, 0, 52, 0.9), 1.4269702992em -0.2208398809em 7px rgba(255, 0, 17, 0.9), -0.3176015457em 2.4322620749em 7px rgba(255, 151, 0, 0.9), 1.2294427542em -0.4888872362em 7px rgba(0, 63, 255, 0.9), 2.0646175659em 0.1348618151em 7px rgba(0, 14, 255, 0.9), 1.7730993176em -0.2079612818em 7px rgba(255, 0, 233, 0.9);
    animation-duration: 42s;
    animation-delay: -23s;
  }
  
  head::after {
    text-shadow: 0.7426167166em -0.0216546772em 7px rgba(255, 0, 246, 0.9), 0.079797677em 1.3753927755em 7px rgba(0, 255, 219, 0.9), 2.0953129593em 0.7778518631em 7px rgba(255, 0, 235, 0.9), -0.4347877425em 0.8361111943em 7px rgba(255, 50, 0, 0.9), -0.1538743713em 2.047938275em 7px rgba(0, 255, 220, 0.9), 0.8064871302em 0.6072589018em 7px rgba(215, 0, 255, 0.9), 2.4778916002em 1.1728679216em 7px rgba(0, 255, 2, 0.9), 1.2178494772em 0.1533707171em 7px rgba(255, 141, 0, 0.9), 2.1563113073em 1.0730703294em 7px rgba(0, 210, 255, 0.9), 2.3957439532em -0.4343415055em 7px rgba(255, 184, 0, 0.9), 0.664436508em 1.3280967116em 7px rgba(255, 21, 0, 0.9), 2.0161042122em 0.9705392089em 7px rgba(255, 0, 231, 0.9), 0.6372897995em 0.4507096691em 7px rgba(255, 163, 0, 0.9), 0.5889547186em 1.304600907em 7px rgba(0, 255, 230, 0.9), 1.5842159967em 0.4640730363em 7px rgba(255, 0, 32, 0.9), 0.2700932901em 1.5492409772em 7px rgba(160, 0, 255, 0.9), 0.2205680632em 1.8980123906em 7px rgba(0, 255, 97, 0.9), 0.8626561875em 1.3071338701em 7px rgba(0, 255, 137, 0.9), 1.1699495808em 1.2986805977em 7px rgba(0, 195, 255, 0.9), 0.6591918862em -0.4151714075em 7px rgba(0, 195, 255, 0.9), 1.3413994536em 0.5325343522em 7px rgba(146, 0, 255, 0.9), 1.839438568em 0.472558023em 7px rgba(0, 255, 190, 0.9), 1.1650454987em 1.8871617996em 7px rgba(0, 255, 205, 0.9), 2.3151361815em -0.4788218053em 7px rgba(77, 0, 255, 0.9), 0.1995263891em 0.2968456072em 7px rgba(245, 255, 0, 0.9), 1.6641406442em 0.6628513222em 7px rgba(6, 255, 0, 0.9), -0.0220170771em 1.8490864182em 7px rgba(118, 0, 255, 0.9), 0.4669678722em -0.0844432792em 7px rgba(255, 179, 0, 0.9), 1.9952057298em 0.6706585888em 7px rgba(255, 0, 244, 0.9), 0.9798518865em 0.429586732em 7px rgba(0, 255, 98, 0.9), 0.8917647698em 1.0648070293em 7px rgba(0, 254, 255, 0.9), 0.1554783094em 0.9301645055em 7px rgba(223, 0, 255, 0.9), -0.2021154138em 0.8539253395em 7px rgba(0, 173, 255, 0.9), 2.3680961279em 0.1140242704em 7px rgba(0, 255, 226, 0.9), 1.5422274634em 0.7587287698em 7px rgba(0, 255, 180, 0.9), 2.0757220133em 2.3513835749em 7px rgba(0, 59, 255, 0.9), 1.5311614257em 2.0409638284em 7px rgba(126, 255, 0, 0.9), 2.164861733em 2.4287098722em 7px rgba(255, 0, 9, 0.9), 2.0893092202em 1.8041487571em 7px rgba(199, 255, 0, 0.9), 2.1630466259em -0.4428028486em 7px rgba(255, 142, 0, 0.9), -0.2596236361em 1.7976180715em 7px rgba(38, 0, 255, 0.9);
    animation-duration: 41s;
    animation-delay: -19s;
  }
  
  @keyframes move {
    from {
      transform: rotate(0deg) scale(8) translateX(-20px);
    }
    to {
      transform: rotate(360deg) scale(14) translateX(20px);
    }
  }